@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --color_verde: #007680;
    --color_amarillo: #F89c24;
    --color_gris: #f4f4f4;

}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    font-size: 16px;
}

body {

    background-image: url(/Assets/FONDO-PÁGINA-azul.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00757F;
    height: 100px;
    color: white;
    padding: 0 30px 0 20px;

}

.logos__container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}

.img__header__formulario {

    display: inline-block;
    height: 50px;

}

.img__header {

    height: 35px;
    width: auto;
    flex-basis: auto;
}

.img__alianza {

    width: 150px;

}

.main {

    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer {

    height: 100px;

}

.container__formulario {

    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 717px;
    width: 646px;
    padding: 40px;
    border-radius: 40px;
    border: 5px solid var(--color_amarillo);
    gap: 20px;

}




.title__form{

    color: var(--color_verde);
    font-size: 19px;

}

.title__form_2 {

    color: var(--color_verde);
    font-size: 19px;
    text-align: center;
    display: none;

}

.title__form span, .title__form_2 span {

    font-weight: 800;
    font-size: 19px;

}

.main p {

    color: var(--color_verde);

}

.input__formulario {

    max-height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--color_gris);
    color: var(--color_verde);
    border-radius: 40px;
    padding: 5px;
}

.title__input_form {

    color: var(--color_verde);
    font-weight: 500;

}

.container__btn {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-logos-organismos{

    display:inline-flex;
    gap: 50px;
    width: 100%;
    background-color: #00757F;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.img-organismos {

    display: inline-block;
    text-align: center;
   
}

#formulario_captacion {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
    gap: 10px;

}

#btn-enviar {

    margin-top: 20px;
    border: 3px solid var(--color_verde);
    width: 130px;
    padding: 10px;
    color: var(--color_verde);
    font-weight: 700;
    border-radius: 40px;
    background-color: transparent;

}

#btn-enviar:hover {

    cursor: pointer;
    background-color: var(--color_verde);
    color: white;

}

@media (max-width: 930px) {

    .img-organismos {

        height: 30px;

    }

    .img__header {

        height: 40px;

    }

    .container-logos-organismos{

        gap: 20px;

    }

    h1 {

        font-size: 20px;

    }

}

@media (max-width: 780px){

    .container__formulario {

        width: 420px;
        height: 864;
        padding: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .input__formulario{

        width: 95%;

    }
    
}

@media (max-width: 550px) {

    .title__form {

        display: none;

    }

    .title__form_2 {

        display: inline-block;

    }

    .img-organismos {

        height: 25px;

    }

    .img__header {

        height: 30px;

    }

    .container-logos-organismos{

        gap: 10px;

    }

    .container__formulario {

        width: 360px;
        margin-top: 0px;
        height: 794px;
        padding: 20px 40px 40px 40px;
        justify-content: center;
        align-items: center;

    }

    .input__formulario {

        width: 92%;
    }

    #formulario_captacion {

        width: 300px;
        justify-content: left;   

    }
}

@media (max-width: 460px) {

    .img-organismos {

        height: 20px;

    }

    h1 {

        font-size: 16px;

    }

    .img__header {

        height: 20px;

    }

    

    .container-logos-organismos{

        gap: 10px;

    }

    .container__formulario {

        width: 360px;
        height: 845px;
        justify-content: center;
        align-items: start;
        padding: 15px 10px 15px 10px;

    }
}

@media (max-width: 390px) {

    .logos__container {

        gap: 10px;

    }

    .container__formulario {

        width: 320px;
        height: 830px;

    }
}
